<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Du lịch</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--image style-->
    <link rel="stylesheet" href="/css/index-style.css" type="text/css">
    <!--Footer and nav style-->
    <link rel="stylesheet" href="/css/footer-nav-headerCSS.css">
    <!--This page style-->
    <link rel="stylesheet" href="/css/guest/cata-style.css">
    <link rel="stylesheet" href="/css/Chitietbaiviet/styleChiTietBaiViet.css">
</head>
<body>

  <%- include('../header-footer/header.ejs') %>

    <!-- ### Cata menu ### -->
    <section class="cata-menu">
        <div class="container">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li class="start">
                        <h4>
                            <a href="#">Đời sống</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                            <a href="#">Du lịch</a>
                        </h4>
                    </li>
                </ul>
            </div>
        </div> 
    </section>
<div class="panel-body backgroundcolor">
        <!-- ảnh đại diện cho tin tức -->
        <img class="_img center-block" src="../images/1.jpg" >
        <div class="center-block noidung">
            <!-- nội dug của tin tức -->
            <div>
                <h1><a href="#"><b><%= chitietbaiviet.Title%>  Chuyện tình nữ đại gia yêu trai trẻ gây chú ý trên màn ảnh Việt</b></a></h1>
                <br>
                <div>
                    <%- chitietbaiviet.Content%>
                </div>
            </div>

            <div class="center-block hagtag w-100">
                <h3><a href="" class="tagitem">#Bình An</a></h3>
                <h3><a href="" class="tagitem">#Những cô gái trong thành phố</a></h3>
                <h3><a href="" class="tagitem">#Ngọc Crystal</a></h3>
                <h3><a href="" class="tagitem">#Phi công trẻ</a></h3>
                <h3><a href="" class="tagitem">#Bình An đóng phi công trẻ</a></h3>
                <h3><a href="" class="tagitem">#Phim việt nam</a></h3>
            </div>

        </div>
        <!-- các bài viết liên quan. -->

        <div class="center-block styleBaiLienQuan">
            <ul class="name">
                <li style="display: inline-block;">
                    <div class="card" style="width: 17rem;">
                        <a href=""><img width="250" height="250" class="card-img-top" src="../images/1.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <a href="" class="card-text">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</a>
                        </div>
                    </div>
                </li>
                <li style="display: inline-block;">
                    <div class="card" style="width: 17rem;">
                        <a href=""><img width="250" height="250" class="card-img-top" src="../images/1.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <a href="" class="card-text">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</a>
                        </div>
                    </div>
                </li>
                <li style="display: inline-block;">
                    <div class="card" style="width: 17rem;">
                        <a href=""><img width="250" height="250" class="card-img-top" src="../images/1.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <a href="" class="card-text">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</a>
                        </div>
                    </div>
                </li>
                <li style="display: inline-block;">
                    <div class="card" style="width: 17rem;">
                        <a href=""><img width="250" height="250" class="card-img-top" src="../images/1.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <a href="" class="card-text">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- nhận xét của người dùng. -->
        <div class="center-block container">
            <div class="row bootstrap snippets">
                <div class="col-md-12 col-md-offset-2 col-sm-12">
                    <div class="comment-wrapper">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Comment panel
                            </div>
                            <div class="panel-body">
                                <textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
                                <br>
                                <button type="button" class="btn btn-info float-right">Post</button>
                                <div class="clearfix"></div>
                                <hr>
                                <ul class="media-list">
                                    <li class="media">
                                        <a href="#" class="pull-left">
                                            <img src="https://bootdey.com/img/Content/user_1.jpg" alt=""
                                                class="img-circle">
                                        </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">30 min ago</small>
                                            </span>
                                            <strong class="text-success">@MartinoMont</strong>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor sit amet, <a href="#">#consecteturadipiscing </a>.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a href="#" class="pull-left">
                                            <img src="https://bootdey.com/img/Content/user_2.jpg" alt=""
                                                class="img-circle">
                                        </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">30 min ago</small>
                                            </span>
                                            <strong class="text-success">@LaurenceCorreil</strong>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor <a href="#">#ipsumdolor </a>adipiscing elit.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a href="#" class="pull-left">
                                            <img src="https://bootdey.com/img/Content/user_3.jpg" alt=""
                                                class="img-circle">
                                        </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">30 min ago</small>
                                            </span>
                                            <strong class="text-success">@JohnNida</strong>
                                            <p>
                                                Lorem ipsum dolor <a href="#">#sitamet</a> sit amet, consectetur
                                                adipiscing elit.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
      <%- include('../header-footer/footer.ejs')%>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>