<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Du lịch</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--image style-->
    <link rel="stylesheet" href="/css/index-style.css" type="text/css">
    <!--Footer and nav style-->
    <link rel="stylesheet" href="/css/footer-nav-headerCSS.css">
    <!--This page style-->
    <link rel="stylesheet" href="/css/guest/cata-style.css">
    <link rel="stylesheet" href="/css/Chitietbaiviet/styleChiTietBaiViet.css">
</head>
<body>

  <%- include('../header-footer/header.ejs') %>

    <!-- ### Cata menu ### -->
    <section class="cata-menu">
        <div class="container">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li class="start">
                        <h4>
                            <a href="#">Đời sống</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                            <a href="#">Du lịch</a>
                        </h4>
                    </li>
                </ul>
            </div>
        </div> 
    </section>
<div class="panel-body backgroundcolor">
        <!-- ảnh đại diện cho tin tức -->
        <img class="_img center-block" src="../images/1.jpg" >
        <div class="center-block noidung">
            <!-- nội dug của tin tức -->
            <div>
                <h1><a href="#"><b>Chuyện tình nữ đại gia yêu trai trẻ gây chú ý trên màn ảnh Việt</b></a></h1>
                <br>
                <p class="custom-control-description">Mối quan hệ giữa Tùng (Bình An) và Xuân (Ngọc Crystal) trong
                    phim "Những cô gái trong thành phố" được khán giả bàn tán.</p>
                <p>
                    <a href=""><strong>.</strong>Trailer phim về gái quê mắc cạm bẫy thành thị gây sốt tuần qua</a>
                </p>

                <p>
                    Tác phẩm truyền hình của đạo diễn Vũ Trường Khoa đang đến hồi kết. Mối tình giữa Tùng và doanh
                    nhân Xuân là điểm nhấn gây tò mò. Trong phim, Tùng là chàng trai tỉnh lẻ nghèo lên thành phố lập
                    nghiệp. Khi gia đình người yêu gặp biến cố kinh tế, Tùng không thể giúp đỡ. Hoàn cảnh buộc anh
                    phải chia tay cô. Trong lúc khó khăn, anh tình cờ gặp Xuân (Ngọc Crystal đóng) - một nữ doanh
                    nhân thành đạt đang ở độ trung niên. Vì có cảm tình với Tùng, Xuân để cậu làm trợ lý, chu cấp
                    tiền bạc, chỗ ăn ở cho cậu. Hai người phát sinh quan hệ chăn gối. Xuân ngày một yêu bồ trẻ còn
                    Tùng vẫn nhớ về người yêu cũ.
                </p>
                <p>
                    Trong diễn biến mới nhất, Tùng tự tử vì thấy bế tắc. Trước đó, anh lấy một khoản tiền lớn của
                    Xuân để chu cấp cho Mai - người yêu cũ đang mang bầu. Khi qua cơn nguy kịch, anh chia tay Xuân
                    để quay về bên Mai. Tuy nhiên, nữ đại gia dùng nhiều cách để níu kéo tình cảm. Trong trailer tập
                    tiếp theo, Xuân còn gặp Mai, đưa cô một khoản tiền lớn, yêu cầu chấm dứt với Tùng.
                </p>
                <div class="card" style="width: 800px;">
                    <img class="card-img-top" width="800" src="../images/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="text-center" style="font-size: 13px;">Nhân vật Xuân được nhiều khán giả thương cảm
                            khi bị "phi công trẻ" dứt tình trong tập 31, phát sóng tối 10/4. </p>
                    </div>
                </div>
                <p>Nữ đại gia có nhiều câu nói thể hiện sự từng trải. Khi Tùng buồn vì người yêu cũ, chị khuyên nhủ:
                    "Đúng người, đúng thời điểm là cổ tích. Sai người, sai thời điểm là cả thanh xuân. Mà cuộc đời
                    làm gì có cổ tích hả em", "Tình đi rồi tình lại đến, lo gì! Nhiều khi chỉ cần như thế này, có ai
                    đó để dựa vào. Thế thôi!"</p>
                <p>Khi Tùng dứt tình với Xuân, nhiều người chê trách nhân vật này. "Tùng thực sự tham lam, vừa muốn
                    có tiền, vừa muốn yêu người trẻ, bản thân lại không có tài", tài khoản Du Du nhận xét. "Mẫu
                    người vô dụng như Tùng, sao chị Xuân lại thích nhỉ", khán giả Đào Tuấn bình luận trên fanpage
                    của phim. Các trích đoạn giữa Tùng và Xuân đều đạt từ 400 nghìn đến hơn một triệu lượt xem, vài
                    trăm bình luận trên mạng xã hội.</p>
                <div class="card" style="width: 800px;">
                    <img class="card-img-top" width="800" src="../images/1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="text-center" style="font-size: 13px;">Xuân (Ngọc Crystal) âu yếm Tùng (Bình An)
                            trên phim.</p>
                    </div>
                </div>
                <p>Diễn viên Bình An cho biết anh gặp khó khăn bởi chưa từng tưởng tượng mình rơi vào hoàn cảnh như
                    Tùng. "Đó là những điều khá lạ lẫm với tôi. Trong một số tập, tôi phải đóng cảnh tình cảm với
                    Ngọc Crystal. Tôi khá mất bình tĩnh. Trên phim trường, tôi luôn tự nhủ: 'Mình là Tùng, không
                    phải Bình An' để nhập vai", Bình An chia sẻ. Anh hy vọng vai Tùng là bước đột phá, giúp anh
                    thoát khỏi mác "bình hoa di động" trên phim ảnh.</p>
                <p>Những cô gái trong thành phố là bộ phim dài 34 tập, do Trung tâm Sản xuất Phim truyền hình Việt
                    Nam thực hiện. Phim xoay quanh cuộc sống của bốn cô gái Cúc, Mai, Lan, Trúc - cùng là dân tỉnh
                    lẻ lên thành phố làm công nhân. Cuộc sống khó khăn đẩy bốn người vào những ngã rẽ khác nhau với
                    nhiều tủi hờn, cám dỗ.</p>
            </div>

            <div class="center-block hagtag w-100">
                <h3><a href="" class="tagitem">#Bình An</a></h3>
                <h3><a href="" class="tagitem">#Những cô gái trong thành phố</a></h3>
                <h3><a href="" class="tagitem">#Ngọc Crystal</a></h3>
                <h3><a href="" class="tagitem">#Phi công trẻ</a></h3>
                <h3><a href="" class="tagitem">#Bình An đóng phi công trẻ</a></h3>
                <h3><a href="" class="tagitem">#Phim việt nam</a></h3>
            </div>

        </div>
        <!-- các bài viết liên quan. -->

        <div class="center-block styleBaiLienQuan">
            <ul class="name">
                <li style="display: inline-block;">
                    <div class="card" style="width: 17rem;">
                        <a href=""><img width="250" height="250" class="card-img-top" src="../images/1.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <a href="" class="card-text">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</a>
                        </div>
                    </div>
                </li>
                <li style="display: inline-block;">
                    <div class="card" style="width: 17rem;">
                        <a href=""><img width="250" height="250" class="card-img-top" src="../images/1.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <a href="" class="card-text">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</a>
                        </div>
                    </div>
                </li>
                <li style="display: inline-block;">
                    <div class="card" style="width: 17rem;">
                        <a href=""><img width="250" height="250" class="card-img-top" src="../images/1.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <a href="" class="card-text">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</a>
                        </div>
                    </div>
                </li>
                <li style="display: inline-block;">
                    <div class="card" style="width: 17rem;">
                        <a href=""><img width="250" height="250" class="card-img-top" src="../images/1.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <a href="" class="card-text">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- nhận xét của người dùng. -->
        <div class="center-block container">
            <div class="row bootstrap snippets">
                <div class="col-md-12 col-md-offset-2 col-sm-12">
                    <div class="comment-wrapper">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Comment panel
                            </div>
                            <div class="panel-body">
                                <textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
                                <br>
                                <button type="button" class="btn btn-info float-right">Post</button>
                                <div class="clearfix"></div>
                                <hr>
                                <ul class="media-list">
                                    <li class="media">
                                        <a href="#" class="pull-left">
                                            <img src="https://bootdey.com/img/Content/user_1.jpg" alt=""
                                                class="img-circle">
                                        </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">30 min ago</small>
                                            </span>
                                            <strong class="text-success">@MartinoMont</strong>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor sit amet, <a href="#">#consecteturadipiscing </a>.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a href="#" class="pull-left">
                                            <img src="https://bootdey.com/img/Content/user_2.jpg" alt=""
                                                class="img-circle">
                                        </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">30 min ago</small>
                                            </span>
                                            <strong class="text-success">@LaurenceCorreil</strong>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Lorem ipsum dolor <a href="#">#ipsumdolor </a>adipiscing elit.
                                            </p>
                                        </div>
                                    </li>
                                    <li class="media">
                                        <a href="#" class="pull-left">
                                            <img src="https://bootdey.com/img/Content/user_3.jpg" alt=""
                                                class="img-circle">
                                        </a>
                                        <div class="media-body">
                                            <span class="text-muted pull-right">
                                                <small class="text-muted">30 min ago</small>
                                            </span>
                                            <strong class="text-success">@JohnNida</strong>
                                            <p>
                                                Lorem ipsum dolor <a href="#">#sitamet</a> sit amet, consectetur
                                                adipiscing elit.
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
      <%- include('../header-footer/footer.ejs')%>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>