<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Security</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!--StyleSheet-->
    <link rel="stylesheet" href="/css/editor/editor-style.css">
    <link rel="stylesheet" type="text/css" href="/css/user/securityCSS.css">
    <!--JQuery-->
    <script src="/js/editor/jquery.min.js"></script>
    <!--Main Script-->
    <script src="/js/editor/main.js"></script>
</head>
<body>
    <div id="page">
        <%- include('../logout/user/form.ejs') %>
        <%- include('../header-footer/header-user.ejs') %>
        <section id="page-main-content">
            <%- include('../logout/user/header-hori.ejs') %>
            <div id="content">
                <h1>Bảo mật</h1>
                <hr>
                <form class="d-flex flex-row content-form-view" novalidate id="managePassword" method="POST" action="">
                    <div class="col-md-9 ">
                        <div class="btn-gray">
                            <button type="button" class="btn" onclick="changePassword()">Thay đổi mật khẩu.</button>
                        </div>
                        <div id="change-pasword" class="class-disable">
                            <div class="form-group">
                                <label for="oldPassword">Mật khẩu cũ:</label>
                                <input type="password" class="form-control col-md-9" id="oldPassword" name="oldpassword">
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="cbShowP" onclick="showPassword()">
                                    <label class="form-check-label" for="cbShowP">Xem mật khẩu.</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new1Password">Mật khẩu mới:</label>
                                <input type="password" class="form-control col-md-9" id="new1Password" name = "newpassword">
                            </div>
                            <div class="form-group">
                                <label for="new2Password">Nhập lại:</label>
                                <input type="password" class="form-control col-md-9" id="new2Password" name="newpasswordconfirm">
                            </div>
                            <div class="btn-gray">
                                <button class="btn" id="change-btn" type="submit">Thay đổi mật khẩu</button>
                                <button class="btn" id="cancel-btn" type="reset" onclick="cancleChangePassword()">Hủy</button>
                            </div>                       
                        </div>
                    </div>              
                </form>
            </div>
        </section>
    </div>
    <!--Main Script-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="/js/editor/main.js"></script>
    <script type="text/javascript">
        function showPassword() {
            var x = document.getElementById('oldPassword');
            if (x.type === 'password') {
            x.type = 'text';
            } else {
            x.type = 'password';       
            }
        }

        $('#managePassword').validate({
                rules: {
                    oldpassword: {
                        required: true,
                        minlength: 6,
                        remote: {
							url: '/guest/password-available'
						}
                    },
                    newpassword: {
                        required: true,
                        minlength: 6
                    },
                    newpasswordconfirm: {
                        required: true,
                        equalTo: $('[name="newpassword"]')
                    }
                },
                messages: {
                    oldpassword: {
                        required: 'Mật khẩu phải có độ dài lớn hơn 6.',
                        minlength: 'Mật khẩu phải có độ dài lớn hơn 6.',
                        remote: 'Mật khẩu này không tồn tại, vui lòng nhập lại.'
                    },
                    newpassword: {
                        required: 'Vui lòng nhập mật khẩu.',
                        minlength: 'Mật khẩu phải có độ dài lớn hơn 6.'
                    },
                    newpasswordconfirm: {
                        required: 'Vui lòng xác nhận lại mật khẩu.',
                        equalTo: 'Xác nhận mật khẩu và mật khẩu phải trùng nhau.'
                    }
                },
                errorElement: 'small',
                errorClass: 'help-block text-danger',
                highlight: function (e) {
                    $(e).removeClass('is-valid').addClass('is-invalid');
                },
                unhighlight: function (e) {
                    $(e).removeClass('is-invalid').addClass('is-valid');
                }
            });

        function changePassword(){
            $('#change-pasword').removeClass('class-disable');
        }
        function cancleChangePassword(){
            $("#managePassword").trigger('reset');
        }
    </script>
</body>
</html>