body{
	background: #82b3c9;
	font-family: Arial, Helvetica, sans-serif;
}
.btn_ls{
	background-color: #82b3c9;
	color: #212121;	
	font-weight: bold;
	font-size: larger;
}
.btn_ls:hover{
	color: white;
}
#div_form{
	display: flex;
	flex-direction: column;
	justify-content: center;
  	align-items: center;

}
#div_form>p{
	color: white;
}
#div_form>h2{
	color: white;
}
form{
	background: white;
	border: none;
	border-radius: 5px;
}
form>div{
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 10%;
}
#btn_logins>button{
	background: white;
	border: 2px solid #eeeeee;
	border-radius: 2.4rem;
}
#span_or{
	text-align: center;
	line-height: 0;
	margin: 2em;
	color: #616161;
}
#span_or:before{
	content: " ";
	display: block;
	border-top: 2px solid #eeeeee;
	box-sizing: inherit;
}
#span_or>span{
	vertical-align: top;
}