<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile-Writer</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--StyleSheet-->
    <link href="/css/editor/editor-style.css" rel="stylesheet">
    <link href="/css/writer/profile-writerCSS.css" rel="stylesheet" type="text/css">
    <script src="/css/editor/main.js"></script>

</head>

<body>
    <div id="page">
        <%- include('../header-footer/header-writer.ejs') %>
        
        <section id="page-main-content">
            <div class="head-content row">
                <div class="col-md-12 text-right my-auto">
                    <a class="head-item" href="profile-writer.html">
                        <img src="../images/account.png" />
                    </a>
                    <a class="head-item" href="../index.html">
                        <span>
                            Đăng xuất
                        </span>
                        <i class="fas fa-sign-out-alt">
                        </i>
                    </a>
                </div>
            </div>
            <div id="content">
                <h1>
                    Danh sách các bài viết
                </h1>
                <hr>
                <form class="d-flex flex-row content-form-view">
                    <div class="col-12 container">
                        <ul class="media-list">
                            <div class="row">
                                <div class="col-8">
                                    <li class="media">
                                        <a href="#">
                                            <a class="pull-left" href="#">
                                                <img alt="" class="img-circle"
                                                    src="https://bootdey.com/img/Content/user_1.jpg">
                                                <p>
                                                    Khoa Học
                                                </p>
                                            </a>
                                            <div class="media-body">
                                                <span class="text-muted pull-right">
                                                    <small class="text-muted">
                                                        Thời gian đăng
                                                    </small>
                                                </span>
                                                <strong class="text-success">
                                                    Tiêu đề Bài viết
                                                </strong>
                                                <p>
                                                    Tóm tắt nội dung của bài viết
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <span class="col-4">
                                    <a href="#" role="button">
                                        <i class="fas fa-file">
                                        </i>
                                    </a>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <li class="media">
                                        <a href="#">
                                            <a class="pull-left" href="#">
                                                <img alt="" class="img-circle"
                                                    src="https://bootdey.com/img/Content/user_1.jpg">
                                                <p>
                                                    Khoa Học
                                                </p>
                                            </a>
                                            <div class="media-body">
                                                <span class="text-muted pull-right">
                                                    <small class="text-muted">
                                                        Thời gian đăng
                                                    </small>
                                                </span>
                                                <strong class="text-success">
                                                    Tiêu đề Bài viết
                                                </strong>
                                                <p>
                                                    Tóm tắt nội dung của bài viết
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <span class="col-4">
                                    <a href="#" role="button">
                                        <i class="fas fa-file">
                                        </i>
                                    </a>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <li class="media">
                                        <a href="#">
                                            <a class="pull-left" href="#">
                                                <img alt="" class="img-circle"
                                                    src="https://bootdey.com/img/Content/user_1.jpg">
                                                <p>
                                                    Khoa Học
                                                </p>
                                            </a>
                                            <div class="media-body">
                                                <span class="text-muted pull-right">
                                                    <small class="text-muted">
                                                        Thời gian đăng
                                                    </small>
                                                </span>
                                                <strong class="text-success">
                                                    Tiêu đề Bài viết
                                                </strong>
                                                <p>
                                                    Tóm tắt nội dung của bài viết
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <span class="col-4">
                                    <a href="#" role="button">
                                        <i class="fas fa-file">
                                        </i>
                                    </a>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <li class="media">
                                        <a href="#">
                                            <a class="pull-left" href="#">
                                                <img alt="" class="img-circle"
                                                    src="https://bootdey.com/img/Content/user_1.jpg">
                                                <p>
                                                    Khoa Học
                                                </p>

                                            </a>
                                            <div class="media-body">
                                                <span class="text-muted pull-right">
                                                    <small class="text-muted">
                                                        Thời gian đăng
                                                    </small>
                                                </span>
                                                <strong class="text-success">
                                                    Tiêu đề Bài viết
                                                </strong>
                                                <p>
                                                    Tóm tắt nội dung của bài viết
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <span class="col-4">
                                    <a href="#" role="button">
                                        <i class="fas fa-file">
                                        </i>
                                    </a>
                                </span>
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <li class="media">
                                        <a href="#">
                                            <a class="pull-left" href="#">
                                                <img alt="" class="img-circle"
                                                    src="https://bootdey.com/img/Content/user_1.jpg">
                                                <p>
                                                    Khoa Học
                                                </p> 
                                            </a>
                                            <div class="media-body">
                                                <span class="text-muted pull-right">
                                                    <small class="text-muted">
                                                        Thời gian đăng
                                                    </small>
                                                </span>
                                                <strong class="text-success">
                                                    Tiêu đề Bài viết
                                                </strong>
                                                <p>
                                                    Tóm tắt nội dung của bài viết
                                                </p>
                                            </div>
                                        </a>
                                    </li>
                                </div>
                                <span class="col-4">
                                    <a href="#" role="button">
                                        <i class="fas fa-file">
                                        </i>
                                    </a>
                                </span>
                            </div>
                        </ul>
                    </div>
                </form>

            </div>
        </section>
    </div>

    <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js">
        </script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
        </script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
        </script>
</body>

</html>