    <div class="head-content row">
        <div class="col-md-12 text-right my-auto">
            <a class="head-item" href="/writer/profile-writer">
                <img src="/images/account.png" />
            </a>
            <a class="head-item" href="javascript:$('#frmSignout').submit();">
                <span>
                    Đăng xuất
                </span>
                <i class="fas fa-sign-out-alt">
                </i>
            </a>
        </div>
    </div>