
.page-header .box h2{
    position: relative;
    margin-bottom: 0;
}

.page-header .box h2:before{
    content: "";
    position: absolute;
    left:-15px;
    background: black;
    width:3px;
    height: 100%;
}

#card-header-title h5{
    position: relative;
    margin-bottom: 0;
}

@media (max-width: 990px){
    .searchDestop{
        float: left !important;
    }
}

#card-header-title h5:before{
    position: absolute;
    left: -1.25rem;
    width: 3px;
    background: #000;
    content: "";
    height: 100%;
}

.btn-white{
    background-color: #fff;
    box-shadow: none;
}

.btn-white:hover, .form-control:hover{
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
}

.btn.btn-white{
    border: 1px solid #e1e5eb;
    color: #3d5170;
    margin-left: -1px;
}

.cata-list li{
    border: 1px solid #e1e5eb;
}

.cata-list>li{
    border-radius: 5px;
    height: fit-content;
}

input:disabled{
    cursor: not-allowed;
}


.avatar{
    width: 60px;
    height: 60px;
    overflow: hidden;
}

.avatar img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}


/*DD/MM/YYYY*/
.day, .month, .year{
    color: #868e96;
}

.month:before, .year:before{
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #868e96;
    content: "/";
}

.content-form-view{
    margin-top: 10px;
}
.display-none{
    display: none !important;
}

tr.clickable-row:hover{
    cursor: pointer;
}

.inputSearch{
    height: 37px;
    display: block;
    margin-left: 15px;
    width: 200px;
    border:none;
    cursor: pointer;
    padding-left: 1px;
    padding-right: 0;
    box-sizing: border-box;
    background: 0 0;
    outline: 0;
    line-height: normal;
}

.inputSearch+.focus-border{
    position: relative;
}

.inputSearch+.focus-border:after{
    content: "";
    position: absolute;
    height: 1px;
    width: 210px;
    left: 10px;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.inputSearch:focus+.focus-border:after{
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}