<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile-Admin</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!--StyleSheet-->
    <link rel="stylesheet" href="/css/editor/editor-style.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/profile-adminCSS.css">
    <style type="text/css">
        @media screen and (max-width: 768px){
            .input-feild, #showDate, .date-edit{
                width: 80% !important;
            }
        }
    </style>
</head>

<body>
    <div id="page">
        <%- include('../logout/admin/form.ejs') %>
        <%- include('../header-footer/header-admin.ejs') %>
        <section id="page-main-content">
        <%- include('../logout/admin/header-hori.ejs') %>
            <div id="content">
                <div class="row">
                    <div class="col-12 py-2">
                        <h2>Trang cá nhân</h2>
                    </div>
                </div>
                <form class="d-flex flex-row content-form-view">
                    <div class="col-md-12">
                        <div id="content-form-img">
                            <div id="profile-picture">
                                <img src="../images/account.png">
                            </div>
                            <div class="js-group-edit-img">
                                <a href="#" class="form-a-edit w-75 js-edit-img">Edit</a>
                            </div>
                            <div class="js-group-sc-img class-disable">
                                <a href="#" class="form-a-save pr-3 js-save-img">Save</a>
                                <a href="#" class="form-a-cancel js-cancel-img">Cancel</a>
                            </div>                            
                        </div>
                        <div class="form-group col-md-12 row form-disable">
                            <label for="inputHoTen" class="col-sm-2 col-form-label">Họ tên:</label>
                            <input type="text" class="input-feild col-md-8" id="inputHoTen" value="Nguyễn Thị Thu Quyền" disabled>
                            <div class="js-group-edit col-md-2">
                                <a href="#" class="form-a-edit w-75 js-edit">Edit</a>
                            </div>
                            <div class="col-md-2 js-group-sc class-disable">
                                <a href="#" class="form-a-save w-50 pr-3 js-save">Save</a>
                                <a href="#" class="form-a-cancel w-50 js-cancel">Cancel</a>
                            </div>
                        </div>
                        <div class="form-group col-md-12 row form-disable">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Email liên lạc:</label>             
                            <input type="email" class="input-feild col-md-8" id="inputEmail" value="ntquyen98@gmail.com" disabled>
                            <div class="js-group-edit col-md-2 js-an">
                                <a href="#" class="form-a-edit w-75 js-edit">Edit</a>
                            </div>
                            <div class="col-md-2 js-group-sc class-disable">
                                <a href="#" class="form-a-save w-50 pr-3 js-save">Save</a>
                                <a href="#" class="form-a-cancel w-50 js-cancel">Cancel</a>
                            </div> 
                        </div>  
                        <div class="col-md-12 row form-disable">
                            <legend class="col-form-label col-sm-2">Ngày sinh:</legend>
                            <div class="date-edit custom-control-inline col-md-7 class-disable row">
                                <select class="col-md-2 custom-select mr-3" id="day"></select>

                                <select class="col-md-2 custom-select mr-3" id="month"></select>

                                <select class="col-md-2 custom-select" id="year"></select>
                            </div> 
                            <input type="text" class=" col-md-8" id="showDate" value="01/08/1998" disabled>
                            <div class="js-group-edit-date col-md-2">
                                <a href="#" class="form-a-edit w-75 js-edit-date">Edit</a>
                            </div>
                            <div class="col-md-2 js-group-sc-date class-disable custom-control-inline">
                                <a href="#" class="form-a-save w-50 pr-3 js-save-date">Save</a>
                                <a href="#" class="form-a-cancel w-50 js-cancel-date">Cancel</a>
                            </div>                        
                            
                        </div>           
                    </div>              
                </form>
            </div>
        </section>
    </div>
        <!--JQuery-->
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <!--Main Script-->
        <script src="/js/editor/main.js"></script>
    <script src="profile-adminJS.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $( ".js-edit" ).each(function( index ) {
                $(this).click(function(e){
                    $('.input-feild').eq(index).prop('disabled',false);
                    $('.js-group-edit').eq(index).addClass('class-disable');
                    $('.js-group-sc').eq(index).addClass('class-enable');
                    $('.js-group-sc').eq(index).removeClass('class-disable');
                })
            }); 
            $( ".js-save" ).each(function( index ) {
                $(this).click(function(e){
                    $('.input-feild').eq(index).prop('disabled',true);
                    $('.js-group-edit').eq(index).addClass('class-enable');
                    $('.js-group-edit').eq(index).removeClass('class-disable');
                    $('.js-group-sc').eq(index).removeClass('class-enable');
                    $('.js-group-sc').eq(index).addClass('class-disable');
                })
            }); 
            $( ".js-cancel" ).each(function( index ) {
                $(this).click(function(e){
                    $('.input-feild').eq(index).prop('disabled',true);
                    $('.js-group-edit').eq(index).addClass('class-enable');
                    $('.js-group-edit').eq(index).removeClass('class-disable');
                    $('.js-group-sc').eq(index).removeClass('class-enable');
                    $('.js-group-sc').eq(index).addClass('class-disable');
                })
            }); 
            $('.js-edit-date').click(function(e){
                $('#showDate').addClass('class-disable');
                $('.date-edit').addClass('class-enable');
                $('.date-edit').removeClass('class-disable');
                $('.js-group-edit-date').addClass('class-disable');
                $('.js-group-sc-date').addClass('class-enable');
                $('.js-group-sc-date').removeClass('class-disable');
            });
            $('.js-save-date').click(function(e){
                $('.date-edit').addClass('class-disable');
                $('.date-edit').removeClass('class-enable');
                $('#showDate').addClass('class-enable');
                $('#showDate').removeClass('class-disable');
                $('.js-group-edit-date').removeClass('class-disable');
                $('.js-group-edit-date').addClass('class-enable');
                $('.js-group-sc-date').addClass('class-disable');
                $('.js-group-sc-date').removeClass('class-enable');
            });
            $('.js-cancel-date').click(function(e){
                $('.date-edit').removeClass('class-enable');
                $('.date-edit').addClass('class-disable');
                $('#showDate').addClass('class-enable');
                $('#showDate').removeClass('class-disable');
                $('.js-group-edit-date').removeClass('class-disable');
                $('.js-group-edit-date').addClass('class-enable');
                $('.js-group-sc-date').addClass('class-disable');
                $('.js-group-sc-date').removeClass('class-enable');
            });
        })
        
    </script>
</body>

</html>