<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HashTags - Admin</title>
    <!--Font-->
    <link rel="stylesheet" href="/fonts/Open_Sans/open-sans.css">
    <!--Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--StyleSheet-->
    <link rel="stylesheet" href="/css/editor/editor-style.css">
    <link rel="stylesheet" href="/css/admin/admin-style.css">
    <link rel="stylesheet" href="/css/admin/bootstrap-tagsinput.css">
    <script src="/js/admin/bootstrap-tagsinput.min.js"></script>
</head>

<body>
    <div id="page">
        <%- include('../header-footer/header-admin.ejs') %>
        <section id="page-main-content">
            <!--Head content-->
            <div class="head-content row">
                <div class="col-md-12 text-right my-auto">
                    <a href="profile-admin.html" class="head-item"><img src="/images/account.png"></a>
                    <a href="../index.html" class="head-item">
                        <span>Đăng xuất</span>
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
            <!--Main content-->
            <div class="container">
                <div class="row">
                    <div class="col-12 py-2">
                        <h2>Quản lý #HashTags</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col my-auto">
                                        <div id="card-header-title">
                                            <h5>Danh sách Tags</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form method="post" action="/admin/qlHashTag/add">
                                <div class="card body">
                                    <center>
                                        <input type="text" value="" data-role="tagsinput" placeholder="Add tags" />
                                    </center>
                                    <a class="btn btn-primary mb-3 button_a" role="submit">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>  
                                        Gữi
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

        <script>
            // $(document).ready(function () {
            //     $(".button_a").click(function(e){
            //        var va = document.querySelectorAll('#hashtag-content')[0].innerHTML;
            //        alert(va);
            //        $.post('/admin/qlHashTag', {"hashtag": va}, funtion(data,status){
            //            alert(data);
            //        })
            //     });
            // });
        </script>
    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        
    <script src="/js/editor/main.js"></script>
</body>

</html>