<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users - Admin</title>
    <!--Font-->
    <link rel="stylesheet" href="/fonts/Open_Sans/open-sans.css">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!--StyleSheet-->
    <link rel="stylesheet" href="/css/editor/editor-style.css">
    <link rel="stylesheet" href="/css/admin/admin-style.css">
    <link rel="stylesheet" href="/css/admin/qlNguoiDungV2_CSS.css">

</head>

<body>
    <div id="page">
        <%- include('../header-footer/header-admin.ejs') %>
        <section id="page-main-content">
            <!--Head content-->
            <div class="head-content row">
                <div class="col-md-12 text-right my-auto">
                    <a href="profile-admin.html" class="head-item"><img src="/images/account.png"></a>
                    <a href="/index.html" class="head-item">
                        <span>Đăng xuất</span>
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
            <!--Main content-->
            <div class="container">
                <div class="row">
                    <div class="col-12 py-2">
                        <h2>Quản lý người dùng</h2>
                    </div>
                </div>
                <div class="row">

                    <div id="user_card" class="card bg-light ml-2 mr-2 mb-3 col-md-5 p-0">
                        <div class="card-header card-background menu-header-title text-primary text-capitalize">Danh
                            sách người dùng </div>
                        <div class="card-body">
                            <!-- ### Subcriber table ###-->
                            <div id="js-subcriber-table" class="table-responsive-xl">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td class="avatar"><img src="/images/account.jpg" alt=""></td>
                                            <td>
                                                <div class="widget-heading">
                                                    ABC
                                                </div>
                                                ntquyen98@gmail.com
                                            </td>
                                            <td>
                                                <span class="badge badge-pill badge-warning">Premium</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td class="avatar"><img src="../images/account.jpg" alt=""></td>
                                            <td>
                                                ABC<br>
                                                ntquyen98@gmail.com
                                            </td>
                                            <td>
                                                <span class="badge badge-pill badge-light">Premium</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td class="avatar"><img src="../images/account.jpg" alt=""></td>
                                            <td>
                                                ABC<br>
                                                ntquyen98@gmail.com
                                            </td>
                                            <td>
                                                <span class="badge badge-pill badge-light">Premium</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td class="avatar"><img src="../images/account.jpg" alt=""></td>
                                            <td>
                                                ABC<br>
                                                ntquyen98@gmail.com
                                            </td>
                                            <td>
                                                <span class="badge badge-pill badge-warning">Premium</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td class="avatar"><img src="../images/account.jpg" alt=""></td>
                                            <td>
                                                <div class="widget-heading">
                                                    ABC
                                                </div>
                                                ntquyen98@gmail.com
                                            </td>
                                            <td>
                                                <span class="badge badge-pill badge-light">Premium</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td class="avatar"><img src="../images/account.jpg" alt=""></td>
                                            <td>
                                                ABC<br>
                                                ntquyen98@gmail.com
                                            </td>
                                            <td>
                                                <span class="badge badge-pill badge-warning">Premium</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td class="avatar"><img src="../images/account.jpg" alt=""></td>
                                            <td>
                                                ABC<br>
                                                ntquyen98@gmail.com
                                            </td>
                                            <td>
                                                <span class="badge badge-pill badge-light">Premium</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="/admin/qlNguoiDung/subcribers" class="btn-wide btn btn-link btn-sm view-all" role="button"
                                    aria-pressed="true">Xem tất cả</a>
                            </div>

                        </div>
                    </div>
                    <div class="card-padding col-md-6 ml-2 mr-2">
                        <div id="writer_card" class="card bg-light mb-1 col-md-12 p-0">
                            <div class="card-header card-background menu-header-title text-primary text-capitalize">Danh
                                sách phóng viên </div>
                            <div class="card-body">
                                <!-- ### Writer table ### -->
                                <div id="js-writer-table" class="table-responsive-xl">
                                    <table class="table">
                                        <tbody>
                                            <tr class="clickable-row" data-href="writer-info.html">
                                                <th scope="row">1</th>
                                                <td class="avatar"><img src="../images/account.jpg" alt=""></td>
                                                <td>
                                                    <div class="widget-heading">
                                                        ABC
                                                    </div>
                                                    ntquyen98@gmail.com
                                                </td>
                                                <td>Đại biến thái</td>
                                            </tr>
                                            <tr class="clickable-row" data-href="writer-info.html">
                                                <th scope="row">1</th>
                                                <td class="avatar"><img src="../images/account.jpg" alt=""></td>
                                                <td>
                                                    <div class="widget-heading">
                                                        ABC
                                                    </div>
                                                    ntquyen98@gmail.com
                                                </td>
                                                <td>Đại biến thái</td>
                                            </tr>
                                            <tr class="clickable-row" data-href="writer-info.html">
                                                <th scope="row">1</th>
                                                <td class="avatar"><img src="../images/account.jpg" alt=""></td>
                                                <td>
                                                    <div class="widget-heading">
                                                        ABC
                                                    </div>
                                                    ntquyen98@gmail.com
                                                </td>
                                                <td>Đại biến thái</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn-wide btn btn-link btn-sm view-all">Xem tất cả</button>
                                </div>
                            </div>
                        </div>
                        <div id="editor_card" class="card bg-light col-md-12 mb-3 p-0">
                            <div class="card-header card-background menu-header-title text-primary text-capitalize">Danh
                                sách biên tập viên </div>
                            <div class="card-body">
                                <!-- ### Editor table ### -->
                                <div id="js-editor-table" class="table-responsive-xl">
                                    <table class="table">
                                        <tbody>
                                            <tr class="clickable-row" data-href="user-info.html">
                                                <th scope="row">1</th>
                                                <td class="avatar"><img src="../images/account.jpg" alt=""></td>
                                                <td>
                                                    <div class="widget-heading">
                                                        ABC
                                                    </div>
                                                    ntquyen98@gmail.com
                                                </td>
                                            </tr>
                                            <tr class="clickable-row" data-href="user-info.html">
                                                <th scope="row">2</th>
                                                <td class="avatar"><img src="../images/account.jpg" alt=""></td>
                                                <td>
                                                    ABC<br>
                                                    ntquyen98@gmail.com
                                                </td>
                                            </tr>
                                            <tr class="clickable-row" data-href="user-info.html">
                                                <th scope="row">3</th>
                                                <td class="avatar"><img src="../images/account.jpg" alt=""></td>
                                                <td>
                                                    ABC<br>
                                                    ntquyen98@gmail.com
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <button class="btn-wide btn btn-link btn-sm view-all">Xem tất cả</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--Main Script-->
    <script src="/js/editor/main.js"></script>
    <!--Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>