<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editor</title>
    <!--Font-->
    <link rel="stylesheet" href="../fonts/Open_Sans/open-sans.css">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--StyleSheet-->
    <link rel="stylesheet" href="/css/editor/editor-style.css">
    <link rel="stylesheet" href="/css/editor/edit-area-style.css">
    <script src="https://cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
</head>

<body>
    <div id="page">
        <%- include('../header-footer/header-editor.ejs') %>
        <section id="page-main-content">
            <!--Head content-->
            <div class="head-content row">
                <div class="col-md-12 text-right my-auto">
                    <a href="profile-editor.html" class="head-item"><img src="/images/account.png"></a>
                    <a href="/" class="head-item">
                        <span>Đăng xuất</span>
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
            <!--Main content-->
            <div class="container">
                <div class="row">
                <!-- tên chuyên mục -->
                    <div class="col-12">
                        <div class="box">
                            <h1>Chuyên mục: <span id="cata-name"><%=chuyenmuc%></span></h1>
                        </div>
                    </div>
                    <!--mục hiển thị -->
                    <div class="col-md-12">
                        <div class="box row" id="draft-articles">
                            <h4 class="article-list-header col-12">Danh sách các bài viết mới:</h4>
                            <ul class="article-list col-12">
                            </ul>
                            <div class="article-list col-12 row">
                            <!-- hien thi danh sach tren database. -->
                                <% for( let index = 0; index < post.length; index++ ) { %>
                                    <a href="#edit?id=<%= post[index].Content %>" class="a_href row item col-lg-6">
                                        <div class="item-thumb col-6">
                                        <!-- anh dai dien -->
                                            <img src="../images/home-new-post-1.jpg" alt="">
                                        </div>
                                        <div class="item-detail col-6">
                                            <h6 class="article-detail">
                                            <!-- tiêu đề của bài viết -->
                                                <span class="article-title"><%=post[index].Title%></span>
                                                <!-- tên tac giả viết bài chưa đưa ra được. -->
                                                <span class="article-author">Xuân Diệu</span>
                                            </h6>
                                        </div>
                                    </a>
                                <% } %>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="box row">
                            <h3 id="edit" class="col-12">Nội dụng: </h3>
                            <form class="col-12" action="post">
                                <text-area name="editor" id="editor" rows="100" cols="80" disabled>
                                </text-area>
                                <script>
                                    CKEDITOR.replace('editor');
                                    CKEDITOR.config.height="300";
                                </script>
                            </form>
                            <div class="d-flex mt-3 justify-content-around col-12">
                                <button class="btn btn-primary">Xét duyệt</button>
                                <button class="btn btn-warning">Từ chối</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!--JQuery-->
    <script src="/js/editor/jquery.min.js"></script>
    <!--ckeditor-->
    <script>
        $(document).ready(function () {
            $(".item").click(function(e) {

                var str = $('.a_href').attr('href').split('id=');
                var id = str[str.length-1];

                CKEDITOR.instances.editor.setData(id, function () {
                    this.checkDirty();  // true
                });
            });
        });
    </script>

    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!--Main Script-->
    <script src="/js/editor/main.js"></script>
</body>

</html>