body {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
    background: #e8eaed;
}

#page {
    width: 100%;
    overflow: hidden;
    position: relative;
}

a {
    color: #F75940;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    color: #F75940;
    outline: none;
    text-decoration: none !important;
}

p {
    margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    color: #000;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 400;
    margin: 0 0 30px 0;
    line-height: 1.3;
}

#page-aside {
    padding-top: 3em;
    padding-bottom: 40px;
    padding-left: 3em;
    padding-right: 3em;
    width: 20%;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    background: #222326;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.51);
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.51);
}

@media screen and (max-width: 1200px) {
    #page-aside {
        width: 30%;
    }
}

/*Sẽ cho aside rút vào màn hình*/
@media screen and (max-width: 768px) {
    #page-aside {
        width: 270px;
        -moz-transform: translateX(-270px);
        -webkit-transform: translateX(-270px);
        -ms-transform: translateX(-270px);
        -o-transform: translateX(-270px);
        transform: translateX(-270px);
        padding-top: 4em;
    }
}

#page-aside #page-logo {
    margin-bottom: 1.5em;
    display: block;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

#page-aside #page-logo img {
    width: 100%;
    height: 50%;
    transform: scale(2);
    transform-origin: 60% 20%;
}

@media screen and (max-width: 768px) {
    #page-aside #page-logo {
        margin-bottom: 1em;
    }
}

#page-aside #page-main-menu ul {
    text-align: right;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 768px) {
    #page-aside #page-main-menu ul {
        margin: 0 0 2em 0;
    }
}

#page-aside #page-main-menu ul li {
    margin: 0 0 10px 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#page-aside #page-main-menu ul li a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    position: relative;
    padding: 10px 0;
    font-family: "Montserrat", Arial, sans-serif;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#page-aside #page-main-menu ul li a:after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 7px;
    left: 0;
    right: 0;
    background-color: #fff;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -moz-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -ms-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#page-aside #page-main-menu ul li a:hover {
    text-decoration: none;
    color: #fff;
}

#page-aside #page-main-menu ul li a:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

#page-aside #page-main-menu ul li.active a {
    color: #fff;
}

#page-aside #page-main-menu ul li.active a:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
}

.toggle {
    cursor: pointer;
    text-decoration: none;
}

.toggle.active i::before, .toggle.active i::after {
    background: #000;
}

.toggle.dark.active i::before, .toggle.dark.active i::after {
    background: #000;
}

.toggle:hover, .toggle:focus, .toggle:active {
    outline: none;
    border-bottom: none !important;
}

.toggle i {
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    width: 30px;
    height: 2px;
    color: #000;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #000;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.toggle i::before, .toggle i::after {
    content: '';
    width: 30px;
    height: 2px;
    background: #000;
    position: absolute;
    left: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.toggle.dark i {
    position: relative;
    color: #000;
    background: #000;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.toggle.dark i::before, .toggle.dark i::after {
    background: #000;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.toggle i::before {
    top: -7px;
}

.toggle i::after {
    bottom: -7px;
}

.toggle:hover i::before {
    top: -10px;
}

.toggle:hover i::after {
    bottom: -10px;
}

.toggle.active i {
    background: transparent;
}

.toggle.active i::before {
    top: 0;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.toggle.active i::after {
    bottom: 0;
    -webkit-transform: rotateZ(-45deg);
    -moz-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
}

.toggle {
    position: fixed;
    left: -4px;
    top: 0px;
    z-index: 9999;
    cursor: pointer;
    opacity: 1;
    visibility: hidden;
    padding: 20px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .toggle {
        opacity: 1;
        visibility: visible;
    }

    #page-aside{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;   
    }
}

body.offcanvas {
    overflow-x: hidden;
}

/*đưa page aside trở về vị trí cũ*/
body.offcanvas #page-aside {
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    width: 270px;
    background: #222326;
    z-index: 999;
    position: fixed;
}

body.offcanvas .toggle {
    top: 0;
    -moz-transform: translateX(270px);
    -webkit-transform: translateX(270px);
    -ms-transform: translateX(270px);
    -o-transform: translateX(270px);
    transform: translateX(270px);
}

/* Phần chính*/

#page-main-content {
    width: 80%;
    float: right;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

@media screen and (max-width: 1200px) {
    #page-main-content {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {
    #page-main {
        width: 100%;
    }
}