<!--
                            <li <% if (pw) { %> class="active" <% } %> ><a href="/writer/profile-writer">Thông tin cá nhân</a></li>
                            <li <% if (tbv) { %> class="active" <% } %>><a href="/writer/writer">Thêm bài viết</a></li>
                            <li <% if (bvdd) { %> class="active" <% } %>><a href="/writer/baivietduocduyet">Các bài đã duyệt</a></li>
                            <li <% if (bvdxb) { %> class="active" <% } %>><a href="/writer/baivietduocduyet">Các bài đã xuất bản</a></li>
                            <li <% if (bvbtc) { %> class="active" <% } %>><a href="/writer/baivietduocduyet">Các bài bị từ chối</a></li>
                            <li <% if (bvcd) { %> class="active" <% } %>><a href="/writer/baivietduocduyet">Các bài chưa duyệt</a></li>
                            <li <% if (s) { %> class="active" <% } %>><a href="/writer/security">Bảo mật</a></li>
                            <li><a href="/" class="main-menu-hidden">Đăng xuất</a></li> 
                            -->