    <!-- ### Footer ### -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-4 left">
                    <img src="images/company-logo.png" alt="">
                    <p>TH16-News <i class="far fa-copyright"></i> 2019</p>

                </div>
                <div class="col-12 col-lg-4 center">
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <p><span>227 Nguyen Van Cu St. Ward 4</span> District 5, Ho Chi Minh City</p>
                    </div>
                    <div>
                        <i class="fas fa-phone"></i>
                        <p>+84848484848</p>
                    </div>
                    <div>
                        <i class="fas fa-envelope"></i>
                        <p>548.533.552@gmail.com</p>
                    </div>
                </div>
                <div class="col-12 col-lg-4 right">
                    <h3>About us</h3>
                    <p>We are a group with three people.</p>
                    <div>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </div>
        </div>
    </footer>