
<section id="page-nav">
    <div class="mb-top">
        <a href="#" class="js-toggle toggle"><i></i></a>
        <div class="mb-logo d-flex align-items-center">
            <h1 class="m-0">TH16-News</h1>
        </div>
    </div>
    <aside id="page-aside" role="complementary" class="js-fullheight">
        <div id="page-logo">
            <img src="/images/company-logo.png" alt="company-logo">
        </div>
        <nav id="page-main-menu" role="navigation">
            <ul>
                <li class="nav-img">
                        <% if(user.Photo){ %>
                            <img src="<%=user.Photo %>">
                        <% }else{ %>
                            <img src="/images/account.png">
                        <% } %>
                        <% if(user.Email){ %>
                            <img src="<%=user.Photo %>">
                            <a href="#"><span><%=user.Email %></span></a></li>
                        <% } %>
                    <a href="/admin/profile-admin"><span>Admin</span></a>
                </li>
                <li <% if (isActive==="pa") { %> class="active" <% } %> ><a href="/admin/profile-admin">Thông Tin Cá Nhân</a></li>
                <li <% if (isActive==="qlcm") { %> class="active" <% } %> ><a href="/admin/qlChuyenMuc">Chuyên Mục</a></li>
                <li <% if (isActive==="qlht") { %> class="active" <% } %> ><a href="/admin/qlHashTag">Hash Tag</a></li>
                <li <% if (isActive==="qlbv") { %> class="active" <% } %> ><a href="/admin/qlBaiViet">Bài Viết</a></li>
                <li <% if (isActive==="qlnd") { %> class="active" <% } %> ><a href="/admin/qlNguoiDung">Danh sách người dùng</a></li>
                <li <% if (isActive==="s") { %> class="active" <% } %> ><a href="/admin/security">Bảo mật</a></li>
                <li><a href="javascript: $('#frmSignout').submit();" class="main-menu-hidden">Đăng xuất</a></li>
            </ul>
        </nav>
        <div id="page-footer" class="text-right">
            <p>TH16-News <i class="far fa-copyright"></i> 2019</p>
            <p><i class="fas fa-map-marker-alt"></i><span> 227 Nguyen Van Cu St. Ward 4</span> District 5, Ho
                Chi Minh City</p>
            <p><i class="fas fa-phone"></i> +84848484848</p>
            <p><i class="fas fa-envelope"></i> 548.533.552@gmail.com</p>
            <h3>About us</h3>
            <p>We are a group with three people.</p>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-github"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
    </aside>
</section>