
<section class="top-header bg-dark">
    <!--full width color-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <a href="#">
                    <i class="fas fa-kiwi-bird"></i>
                </a>
            </div>
            <div class="col-sm-6 text-right">
                <!--Login/Logout-->
                <a href="/guest/login" class="badge badge-dark">
                    <span>Đăng nhập</span>
                    <i class="fas fa-sign-in-alt"></i>
                </a>
                <a href="/guest/sign_up" class="badge badge-dark">
                    <span>Đăng ký</span>
                    <i class="fas fa-user"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- ### Navigation Bar ###-->
<section class="navigation bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-light navbar-expand-lg">
                    <a class="navbar-brand" href="/"><img src="/images/company-logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                        aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbar">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Thời sự</a>
                                <div class="dropdown-menu">
                                    <a href="/guest/chuyen-de" class="dropdown-item">Quân sự</a>
                                    <a href="/guest/chuyen-de" class="dropdown-item">Chuyển động 24h</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="/guest/chuyen-de" class="dropdown-item">Mọi bài viết chủ đề Thời
                                        sự</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Thể thao</a>
                                <div class="dropdown-menu">
                                    <a href="/guest/chuyen-de" class="dropdown-item">Bóng đá</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="/guest/chuyen-de" class="dropdown-item">Mọi bài viết chủ đề Thể
                                        thao</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Đời sống</a>
                                <div class="dropdown-menu">
                                    <a href="/guest/chuyen-de" class="dropdown-item">Du lịch</a>
                                    <a href="/guest/chuyen-de" class="dropdown-item">Sức khỏe</a>
                                    <a href="/guest/chuyen-de" class="dropdown-item">Giáo dục</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="/guest/chuyen-de" class="dropdown-item">Mọi bài viết chủ đề Đời
                                        sống</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Khoa học</a>
                                <div class="dropdown-menu">
                                    <a href="/guest/chuyen-de" class="dropdown-item">CNTT</a>
                                    <a href="/guest/chuyen-de" class="dropdown-item">Chuyện đó đây</a>
                                    <a href="/guest/chuyen-de" class="dropdown-item">Công nghệ</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="/guest/chuyen-de" class="dropdown-item">Mọi bài viết chủ đề Khoa
                                        học</a>
                                </div>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                aria-label="Search">
                            <button class="btn btn-outline-success my-2 my-sm-0 clickable-row"
                                data-href="/guest/search-result" type="button">Search</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</section>