<section id="page-nav">
            <div class="mb-top">
                <a href="#" class="js-toggle toggle"><i></i></a>
                <div class="mb-logo d-flex align-items-center">
                    <h1 class="m-0">TH16-News</h1>
                </div>
            </div>
                <aside id="page-aside" role="complementary" class="js-fullheight">
                    <div id="page-logo">
                        <img src="../images/company-logo.png" alt="company-logo">
                    </div>
                    <nav id="page-main-menu" role="navigation">
                        <ul>
                            <li class="nav-img">
                                <img src="../images/account.png">
                                <a href="#"><span>ntquyen98@gmail.com</span></a></li>
                            <li <% if (isActive==="pw") { %> class="active" <% } %> ><a href="/writer/profile-writer">Thông tin cá nhân</a></li>
                            <li <% if (isActive==="tbv") { %> class="active" <% } %>><a href="/writer">Thêm bài viết</a></li>
                            <li <% if (isActive==="bvdd") { %> class="active" <% } %>><a href="/writer/baivietduocduyet">Các bài đã duyệt</a></li>
                            <li <% if (isActive==="bvdxb") { %> class="active" <% } %>><a href="/writer/baivietdaxuatban">Các bài đã xuất bản</a></li>
                            <li <% if (isActive==="bvbtc") { %> class="active" <% } %>><a href="/writer/baivietbituchoi">Các bài bị từ chối</a></li>
                            <li <% if (isActive==="bvcd") { %> class="active" <% } %>><a href="/writer/baivietchuaduyet">Các bài chưa duyệt</a></li>
                            <li <% if (isActive==="s") { %> class="active" <% } %>><a href="/writer/security">Bảo mật</a></li>
                            <li><a href="/" class="main-menu-hidden">Đăng xuất</a></li> 
                        </ul>
                    </nav>
                    <div id="page-footer" class="text-right">
                        <p class="mt-5">TH16-News <i class="far fa-copyright"></i> 2019</p>                        
                        <p><i class="fas fa-map-marker-alt"></i><span> 227 Nguyen Van Cu St. Ward 4</span> District 5, Ho Chi Minh City</p>
                        <p><i class="fas fa-phone"></i> +84848484848</p>
                        <p><i class="fas fa-envelope"></i> 548.533.552@gmail.com</p>
                        <h3>About us</h3>
                        <p>We are a group with three people.</p>
                        <div>
                            <i class="fab fa-facebook-f"></i>
                            <i class="fab fa-github"></i>
                            <i class="fab fa-linkedin"></i>
                            <i class="fab fa-twitter"></i>
                        </div>
                    </div>
                </aside>
        </section>