<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="/css/guest/loginCSS.css">
	<link rel="stylesheet" type="text/css" href="/css/footer-nav-headerCSS.css">
</head>

<body>
	<!--div content-->
	<div id="div_content">
		<div class="row">
			<div>
				<img src="">
			</div>
			<div class="col-md-11 text-right btn_ls">
				<!--Login/Logout-->
				<a href="#" class="badge">
					<span>Đăng nhập</span>
					<i class="fas fa-sign-in-alt"></i>
				</a>
				<a href="/guest/sign_up" class="badge">
					<span>Đăng ký</span>
					<i class="fas fa-user"></i>
				</a>
			</div>
		</div>
		<!--Login-->
		<div id="div_form">
				<h2>Đăng nhập để thêm nhiều thông tin bạn nhé!</h2>
				<p>Đăng nhập bằng tài khoản của bạn!!!</p>
			<form novalidate method="POST" id="signinForm">
				<% if(locals.error){ %>
					<div class="error">
						<h5><%=error %></h5>
					</div>
				<% } %>
				<div class="form-group input-group-lg">
					<label for="inputEmail">Địa chỉ email:</label>
					<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
						placeholder="Email" name="email">
				</div>
				<div class="form-group input-group-lg mt-4">
					<label for="inputPassword">Mật khẩu:</label>
					<input type="password" class="form-control" id="inputPassword" placeholder="Mật khẩu" name="password">
				</div>
				<div class="mt-4">
					<a href="/guest/reset" class="btn btn-link btn_ls" id="btn_forgot_pass">Quên mật khẩu?</a>
				</div>
				<div id="btn_logins" class="mt-4">
					<button type="submit" class="btn w-100" id="btn_login">ĐĂNG NHẬP</button>
					<div id="span_or">
						<span>HOẶC</span>
					</div>
					<button type="button" class="btn w-100" id="btn_login_google">ĐĂNG NHẬP BẰNG GOOGLE</button>
					<a href="/guest/auth/google" class="btn">Đăng nhập google</a>
				</div>
			</form>
		</div>
		<div class="d-flex justify-content-center my-5">
			<div class="d-flex flex-column">
				<p>Bạn chưa có tài khoản?</p>
				<button type="button" class="btn" id="btn_sign_up_free">ĐĂNG KÝ TÀI KHOẢN</button>
			</div>
		</div>
	</div>

	<!-- ### Footer ### -->
	<%- include('../header-footer/footer.ejs')%>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!--Validate-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
	<script>
		$(function(){
			$('#signinForm').validate({
				rules:{
					email:{
						required: true,
						email: true,
					},
					password:{
						required: true,
						minlength: 6
					}
				},
				messages:{
					email:{
						required: 'Vui lòng nhập email.',
						email: 'Email không hợp lệ.'
					},
					password:{
						required: 'Vui lòng nhập mật khẩu.',
						minlength: 'Mật khẩu phải có độ dài lớn hơn 6.'
					}
				},
				errorElement: 'small',
				errorClass: 'help-block text-danger',
				highlight: function(e){
					$(e).removeClass('is-valid').addClass('is-invalid');
				},
				unhighlight: function(e){
					$(e).removeClass('is-invalid').addClass('is-valid');
				}
			});

			$(document).ready(function(){
				if($('#signinForm').find('.error')){
					setTimeout(function(){
						$('.error').hide();
					},10000);
				}
			});
		});
	</script>
</body>

</html>