<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Reset Password</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="/css/guest/loginCSS.css">
	<link rel="stylesheet" type="text/css" href="/css/guest/sign_upCSS.css">
	<link rel="stylesheet" type="text/css" href="/css/footer-nav-headerCSS.css">
</head>
<body>
	<!--div content-->
	<div id="div_content">
		<div class="row">
			<div class="col-md-11 text-right btn_ls">
				<!--Login/Logout-->
				<a href="/guest/login" class="badge">
					<span>Đăng nhập</span>
					<i class="fas fa-sign-in-alt"></i>
				</a>
				<a href="/guest/sign_up" class="badge">
					<span>Đăng ký</span>
					<i class="fas fa-user"></i>
				</a>
			</div>
		</div>
		<!--Login-->
		<div id="div_form">
			<h2>Lấy lại mật khẩu</h2>
			<form novalidate action="/guest/reset-password" method="POST" id="resetForm">
                <div class="form-group input-group-lg d-flex">
                    <input type="text" class="form-control" id="code" placeholder="Nhập mã xác thực" name="code">
                </div>
				<div class="form-group input-group-lg mt-4">
					<label for="inputPassword">Nhập mật khẩu:</label>
					<input type="password" class="form-control" id="inputPassword" placeholder="Nhập mật khẩu"
						name="password">
				</div>
				<div class="form-group input-group-lg mt-4">
					<label for="inputConfirmPassword">Nhập lại mật khẩu:</label>
					<input type="password" class="form-control" id="inputConfirmPassword"
						placeholder="Nhập lại mật khẩu" name="confirm">
				</div>
				<div id="btn_logins" class="mt-4">
					<button type="submit" class="btn w-100 mb-3" id="btn_sign_up">Thay đổi mật khẩu</button>
				</div>
			</form>
		</div>
	</div>

	<!-- ### Footer ### -->
	<%- include('../header-footer/footer.ejs')%>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!--Validate-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
	<script>
		$(function () {
			$('#resetForm').validate({
				rules: {
                    code:{
                        required: true,
                        remote: {
							url: '/guest/is-correct-code'
						}
                    },
					password: {
						required: true,
						minlength: 6
					},
					confirm: {
						required: true,
						equalTo: $('[name="password"]')
					}
				},
				messages: {
                    code:{
                        required: "Vui lòng nhập mã xác thực",
                        remote: "Mã xác thực không hợp thể"
                    },
					password: {
						required: 'Vui lòng nhập mật khẩu.',
						minlength: 'Mật khẩu phải có độ dài lớn hơn 6.'
					},
					confirm: {
						required: 'Vui lòng xác nhận lại mật khẩu.',
						equalTo: 'Xác nhận mật khẩu và mật khẩu phải trùng nhau.'
					}
				},
				errorElement: 'small',
				errorClass: 'help-block text-danger',
				highlight: function (e) {
					$(e).removeClass('is-valid').addClass('is-invalid');
				},
				unhighlight: function (e) {
					$(e).removeClass('is-invalid').addClass('is-valid');
				}
			});
		});
	</script>
</body>

</html>