<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Sign up</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" type="text/css" href="/css/guest/loginCSS.css">
	<link rel="stylesheet" type="text/css" href="/css/guest/sign_upCSS.css">
	<link rel="stylesheet" type="text/css" href="/css/footer-nav-headerCSS.css">
	<!--Captcha-->
	<script src="https://www.google.com/recaptcha/api.js"></script>
</head>
<body>
	<!--div content-->
	<div id="div_content">
		<div class="row">
			<div class="col-md-11 text-right btn_ls">
				<!--Login/Logout-->
				<a href="/guest/login" class="badge">
					<span>Đăng nhập</span>
					<i class="fas fa-sign-in-alt"></i>
				</a>
				<a href="#" class="badge">
					<span>Đăng ký</span>
					<i class="fas fa-user"></i>
				</a>
			</div>
		</div>
		<!--Login-->
		<div id="div_form">
			<h2>Đăng ký để sử dụng thêm nhiều tính năng bạn nhé!</h2>
			<p>Cùng đăng ký nào!!!</p>
			<form novalidate action="" method="POST" id="signupForm">
				<% if(locals.error){ %>
					<div class="error"><%=locals.error%></div>
				<% } %>
				<div class="form-group input-group-lg">
					<label for="inputEmail">Địa chỉ email:</label>
					<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
						placeholder="Enter email" name="email">
				</div>
				<div class="form-group input-group-lg mt-4">
					<label for="inputPassword">Nhập mật khẩu:</label>
					<input type="password" class="form-control" id="inputPassword" placeholder="Nhập mật khẩu"
						name="password">
				</div>
				<div class="form-group input-group-lg mt-4">
					<label for="inputConfirmPassword">Nhập lại mật khẩu:</label>
					<input type="password" class="form-control" id="inputConfirmPassword"
						placeholder="Nhập lại mật khẩu" name="confirm">
					<div class="g-recaptcha mt-4" data-sitekey="6LdA8agUAAAAAOlp6VKuo8WBWah8scp9n3KYbvov"></div>
				</div>
				<div id="btn_logins" class="mt-4">
					<button type="submit" class="btn w-100 mb-3" id="btn_sign_up">ĐĂNG KÝ</button>
					<button type="button" class="btn w-100" id="btn_login_google">ĐĂNG KÝ BẰNG GOOGLE</button>
				</div>
			</form>
		</div>
	</div>

	<!-- ### Footer ### -->
	<%- include('../header-footer/footer.ejs')%>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!--Validate-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
	<script>
		$(function () {
			$('#signupForm').validate({
				rules: {
					email: {
						required: true,
						email: true,
						remote: {
							url: '/guest/is-available'
						}
					},
					password: {
						required: true,
						minlength: 6
					},
					confirm: {
						required: true,
						equalTo: $('[name="password"]')
					}
				},
				messages: {
					email: {
						required: 'Vui lòng nhập email.',
						email: 'Email không hợp lệ.',
						remote: 'Email này đã được đăng ký bởi tài khoản khác.'
					},
					password: {
						required: 'Vui lòng nhập mật khẩu.',
						minlength: 'Mật khẩu phải có độ dài lớn hơn 6.'
					},
					confirm: {
						required: 'Vui lòng xác nhận lại mật khẩu.',
						equalTo: 'Xác nhận mật khẩu và mật khẩu phải trùng nhau.'
					}
				},
				errorElement: 'small',
				errorClass: 'help-block text-danger',
				highlight: function (e) {
					$(e).removeClass('is-valid').addClass('is-invalid');
				},
				unhighlight: function (e) {
					$(e).removeClass('is-invalid').addClass('is-valid');
				}
			});
		});
	</script>
</body>

</html>