<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TH16-News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index-style.css">
    <!--footer nav header css-->
    <link rel="stylesheet" href="/css/footer-nav-headerCSS.css">
    <!--Owl Carousel-->
    <link rel="stylesheet" href="/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
</head>

<body>
    <% include header-footer/header.ejs %>
    
    <!-- ### Week High light ###-->
    <section class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 pr-lg-1">
                    <article class="post">
                        <div class="hl-item feature-post" style="background-image: url(images/1.jpg);">
                            <a href="/Chitietbaiviet" class="post-link"></a>
                            <div class="post-content">
                                <a href="guest/chuyen-de.html" class="post-cata">Giải trí</a>
                                <a href="/Chitietbaiviet" class="post-title">PewPew trải lòng: Tuổi trẻ đã sống tưng bừng, làm hết sức
                                    chơi hết mình, về ngủ dậy lại quay cuồng, thế là đủ đam mê</a>
                                <div class="post-meta">
                                    <i class="fas fa-clock"></i>
                                    <span>22/04/2019 20:30:44</span>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-4 pl-lg-1">
                    <article class="post">
                        <div class="hl-item sub-post" style="background-image: url(images/1.jpg);">
                            <a href="/Chitietbaiviet" class="post-link"></a>
                            <div class="post-content">
                                <a href="guest/chuyen-de.html" class="post-cata">Giải trí</a>
                                <a href="/Chitietbaiviet" class="post-title">BTS chính thức phá vỡ thành tích của Ariana Grande, lập
                                    kỉ lục thế giới mới rồi đây!</a>
                                <div class="post-meta">
                                    <i class="fas fa-clock"></i>
                                    <span>22/04/2019 20:30:44</span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="post">
                        <div class="hl-item sub-post" style="background-image: url(images/1.jpg);">
                            <a href="/Chitietbaiviet" class="post-link"></a>
                            <div class="post-content">
                                <a href="guest/chuyen-de.html" class="post-cata">Giải trí</a>
                                <a href="/Chitietbaiviet" class="post-title">"Sao thị phi" đang chiếu đúng PewPew: Ồn ào bủa vây từ vụ
                                    Khoa Pug "bóc phốt" Aroma đến nghi vấn một hotgirl lộ clip nóng</a>
                                <div class="post-meta">
                                    <i class="fas fa-clock"></i>
                                    <span>22/04/2019 20:30:44</span>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- ### Content ### -->
    <section class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="grid-box">
                        <div class="grid-header row">
                            <div class="col-6 grid-title">
                                <h2 id="grid-header"><i class="fas fa-crown"></i> Xem nhiều nhất</h2>
                            </div>
                            <div class="col-6 text-right grid-button">
                                <a href="javascript:;" role="button" class="slide-prev">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                                <span> </span>
                                <a href="javascript:;" role="button" class="slide-next">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="owl-carousel" id="most-view">
                            <% for( var index = 0; index < 10; index++) { %>
                                <div>
                                    <article class="post most-view-item">
                                        <div class="post-thumbnail">
                                            <a href="/Chitietbaiviet">
                                                <img src="images/1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <a href="guest/chuyen-de.html" class="post-cata">
                                                Thời sự
                                            </a>
                                            <a href="/Chitietbaiviet" class="post-title">
                                                Thượng nghị sĩ Mỹ và 30 năm dọn hậu quả chiến tranh Việt Nam.
                                            </a>
                                            <div class="post-meta">
                                                <i class="fas fa-clock"></i>
                                                <span>22/04/2019 20:30:44</span>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div>
                        <div id="new-article" class="row">
                            <div class="single-post col-12">
                                <div class="card">
                                    <div>
                                        <h2 class="section-title">Bài viết mới nhất</h2>
                                    </div>
                                </div>
                            </div>
                            <% for( let index = 0; index < 10; index++ ) { %>
                                <!--single post-->
                                <div class="col-12 col-md-6">
                                    <div class="card single-post">
                                        <a href="/Chitietbaiviet"><img src="images/1.jpg" class="card-img-top" alt=""></a>
                                        <div class="card-body">
                                            <a href="guest/chuyen-de.html" class="post-cata">Thời sự</a>
                                            <a href="/Chitietbaiviet" class="post-title">
                                                <h5 class="card-title">Ông Phạm Nhật Vũ bị bắt với cáo buộc đưa hối lộ</h5>
                                            </a>
                                            <p><i class="far fa-clock"></i> 22/04/2019 20:30:44</p>
                                            <p class="card-text">Bộ Công an khởi tố bị can, quyết định bắt ông Phạm Nhật Vũ
                                                (Chủ
                                                tịch Công ty Cổ phần Nghe Nhìn Toàn cầu – AVG).</p>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                    <% for( let index = 0; index < 10; index++ ) { %>
                        <!--1 chuyen muc-->
                        <div class="cata-post col-md-12">
                            <div class="category">
                                <a href="guest/cata-style.css" class="post-cata"><i class="fas fa-bookmark"> Thời sự</i></a>
                                <hr>
                            </div>
                            <div class="post">
                                <div class="post-thumbnail">
                                    <a href="/Chitietbaiviet"><img src="images/1.jpg" alt=""></a>
                                </div>
                                <div class="post-abstract">
                                    <a href="/Chitietbaiviet" class="post-title">Thượng nghị sĩ Mỹ và 30 năm dọn hậu quả chiến tranh Việt
                                        Nam.</a>
                                </div>
                            </div>
                        </div>
                    <% } %>

                </div>
            </div>
        </div>
    </section>

    <% include header-footer/footer.ejs%>
    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.mousewheel.js"></script>
    <script>
        var owl = $('.owl-carousel');
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                rtl: true,
                loop: true,
                margin: 10,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                },
                // you can use jQuery selector
                navText: [$('.slide-next'), $('.slide-prev')]
            });
            owl.on('mousewheel', '.owl-stage', function (e) {
                if (e.deltaY > 0) {
                    owl.trigger('next.owl');
                } else {
                    owl.trigger('prev.owl');
                }
                e.preventDefault();
            });

            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });
    </script>
</body>

</html>