.head-content{
	background: #eeeeee;
}
.head-item{
	margin-right: 20px;
	color: #102027;
}
.head-item: hover{
	color: #db4437;
}
.head-item img{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
}


@media screen and (max-width: 600px){
	.head-content{
		display: none;
	}
}